* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0; }

a {
  text-decoration: none; }

body {
  font-family: 'Roboto Condensed', sans-serif; }

.text-hero {
  color: white; }

.title-hero {
  font-size: 60px; }

.small-hero {
  font-size: 20px; }

.nav-item {
  font-size: 20px;
  color: black;
  font-weight: 700;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }

.nav-item:hover {
  color: #f89a14; }

.title-chapter {
  font-size: 40px;
  padding: 0 20px;
  position: relative;
  z-index: 99; }

.body-text {
  font-size: 18px;
  margin-bottom: 30px; }

.title-cite {
  font-size: 30px;
  padding: 0 20px;
  position: relative;
  z-index: 99;
  margin: 0; }

.share-media {
  color: #144a5c;
  text-align: center; }

.text-share-one {
  font-weight: 700;
  font-size: 30px; }

.text-share-two {
  font-size: 25px; }

.appreciation {
  color: white; }

.text-medialab-footer {
  text-align: right; }

.format-title-chapter {
  height: 60px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px; }

.orange-rectangle {
  background-color: #f89e13;
  height: 50%;
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute; }

.format-cite {
  width: 600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px; }

.rectangle-cite {
  height: 70%;
  width: 100%;
  position: absolute; }

.orange {
  background-color: #f89e13; }

.low-orange {
  background-color: #f2bc66; }

.hero {
  width: 100%;
  height: 650px;
  background-image: url("../img/img-hero.jpg");
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.hero img {
  width: 100%; }

.text-hero {
  width: 38%;
  margin-left: 20%;
  margin-top: 10%; }

.header {
  width: 100%;
  height: 80px;
  background-color: #ebf2f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.nav {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none; }

.main {
  width: 100%; }

.section-text {
  padding: 50px 200px; }

.section-one {
  background-color: #f1f8fb; }

.mapa-interactivo {
  width: 700px;
  margin: 0 auto;
  position: relative; }

.holi {
  width: 700px;
  position: absolute;
  z-index: -1; }

.holi img {
  width: 100%; }

.select {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  background-color: #405B60;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-family: sans-serif;
  padding: 20px;
  top: 20px; }

.info-squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0; }

.square-item {
  width: 50%;
  padding: 20px; }

.one-square {
  background-color: #fef2d7; }

.two-square {
  background-color: #fde7be; }

.section-three {
  background-color: #f1f8fb; }

.interactive-wrap {
  height: 600px;
  background-color: blue; }

.section-img {
  width: 100%; }

.section-img img {
  width: 100%;
  vertical-align: bottom; }

.comic-img-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.img-comic {
  width: 50%; }

.img-comic img {
  width: 100%; }

.text-comic {
  width: 50%; }

.section-five {
  background-color: #eb9512;
  color: white; }

.section-six {
  background-color: #f1f8fb; }

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.item {
  padding: 30px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.gray1 {
  background-color: #e8f1f5; }

.gray2 {
  background-color: #dbe6ea; }

.icon {
  width: 10%; }

.text {
  width: 87%; }

.icon img {
  width: 100%; }

.item h3 {
  margin: 0; }

.item p {
  margin: 0; }

.section-seven {
  background-color: #eb9512;
  color: white; }

.footer {
  width: 100%;
  padding-top: 30px; }

.appreciation {
  background-color: #144a5c;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.team {
  width: 40%; }

.greetings {
  width: 60%; }

.project-logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px; }

.text-medialab-footer {
  width: 100px;
  margin-right: 20px; }

.logo-medialab-footer {
  width: 280px; }

.logo-medialab-footer img {
  width: 100%; }

.uppercase {
  text-transform: uppercase; }

/*# sourceMappingURL=index.css.map */