* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0; }

a {
  text-decoration: none; }

body {
  font-family: "Roboto", sans-serif; }

.text-hero {
  font-family: "Roboto Condensed", sans-serif;
  color: white; }

.title-hero {
  font-size: 60px; }

.small-hero {
  font-size: 20px; }

.nav-item {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  color: black;
  font-weight: 700;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }

.nav-item:hover {
  color: #f89a14; }

.title-chapter {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 40px;
  padding: 0 20px;
  position: relative;
  z-index: 99; }

.body-text {
  font-size: 20px;
  margin-bottom: 30px; }

.title-cite {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
  padding: 0 20px;
  position: relative;
  z-index: 99;
  margin: 0; }

.subtitle-section {
  font-size: 22px;
  font-family: "Roboto Condensed", sans-serif; }

.city-quote {
  font-size: 10.5px;
  text-align: center;
}

.title-map-selector {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px; }

.text-comic {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px; }

.share-media {
  color: #144a5c;
  text-align: center; }

.text-share-one {
  font-size: 30px; }

.text-share-two {
  font-size: 25px; }

.appreciation {
  color: white; }

.text-medialab-footer {
  text-align: right; }

.bold {
  font-weight: 700; }

.format-title-chapter {
  height: 60px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px; }

.orange-rectangle {
  background-color: #f89e13;
  height: 50%;
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute; }

.format-cite {
  width: 600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px; }

.rectangle-cite {
  height: 70%;
  width: 100%;
  position: absolute; }

.orange {
  background-color: #f89e13; }

.low-orange {
  background-color: #f2bc66; }

.author-cite {
  margin: 0;
  position: absolute;
  bottom: -8px;
  right: 5px; }

.interactive-wrap {
  width: 100%; }

.range-selector {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px; }

.salary {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.rental {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.label-salary-rental {
  margin-bottom: 5px;
  color: #144a5c;
  font-weight: 700; }

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  outline: 0;
  height: 3px;
  background-color: #6b8c95;
  cursor: pointer; }

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #144a5c; }

.rental-range {
  -webkit-appearance: none;
  width: 100%;
  outline: 0;
  height: 3px;
  background-color: yellow;
  cursor: pointer; }

.expenses-table {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  color: white; }

.square {
  border: 1px solid white;
  width: 25%;
  position: relative;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }

.square:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  cursor: pointer; }

.frontSide {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background-color: #144a5c; }

.euros {
  margin: 0; }

.backSide {
  width: 100%;
  height: 150px;
  background-color: #144a5c;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.square-img {
  width: 60%; }

.square-img img {
  width: 100%; }

.hero {
  width: 100%;
  height: 85vh;
  background-image: url("../img/img-hero.jpg");
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.hero img {
  width: 100%; }

.text-hero {
  width: 38%;
  margin-left: 20%;
  margin-top: 10%; }

.header {
  width: 100%;
  height: 80px;
  background-color: #ebf2f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.fixed-header {
  position: fixed;
  top: 0;
  z-index: 0; }

.nav {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none; }

.main {
  width: 100%; }

.section-text-space {
  width: 100%;
  padding: 50px 0; }

.section-text {
  width: 650px;
  margin: 0 auto; }

.section-one {
  background-color: #f1f8fb; }

.interactive-map-section {
  width: 900px;
  margin: 0 auto;
  position: relative; }

.map-barcelona {
  width: 100%;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  position: absolute; }

.map-madrid {
  width: 100%;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.total-map {
  width: 100%;
  position: absolute;
  z-index: -1; }

.total-map img {
  width: 100%; }

.interactive-map {
  width: 100%; }

.selection-map {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  background-color: #144a5c;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-family: sans-serif;
  padding-top: 20px;
  top: 20px;
  left: 20px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
          box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75); }

.text-selection-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px; }

.cities-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.btn-city {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 25px;
  color: white;
  background-color: transparent;
  outline: 0;
  cursor: pointer; }

.label-form {
  margin: 40px 0 10px;
  font-size: 12px; }

.home-selector {
  margin: 2px 0;
  font-size: 12px; }

.text-percentage {
  text-align: center;
  font-size: 12px;
  margin-top: 40px; }

.rental-percentage {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.unit-percentage {
  width: 17%;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  padding: 5px 0; }

.unit-30 {
  background-color: #55790e; }

.unit-31 {
  background-color: #7b8815; }

.unit-36 {
  background-color: #d6a500; }

.unit-41 {
  background-color: #bc6c25; }

.unit-46 {
  background-color: #94341c; }

.unit-50 {
  background-color: #6e1c0f; }

.info-squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0; }

.square-item {
  width: 50%;
  padding: 20px; }

.one-square {
  background-color: #fef2d7; }

.two-square {
  background-color: #fde7be; }

.section-three {
  background-color: #f1f8fb; }

.section-img {
  width: 100%;
  position: relative; }

.section-img img {
  width: 100%;
  vertical-align: bottom; }

.author-image {
  position: absolute;
  bottom: -25px;
  right: 10%;
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  color: black; }

.author-image-white {
  position: absolute;
  bottom: -45px;
  right: 10%;
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.author-image:hover {
  text-decoration: underline; }

.white-author {
  color: white;
  margin: 0 0 2px;
  text-align: right; }

a.white-author:hover {
  text-decoration: underline; }

.comic-img-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.img-comic {
  width: 60%; }

.img-comic img {
  width: 100%; }

.text-comic {
  width: 40%; }

.section-five {
  background-color: #eb9512;
  color: white; }

.section-six {
  background-color: #f1f8fb; }

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.wrap:last-child {
  border-bottom: 1px solid #144a5c; }

.item {
  padding: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #144a5c; }

.icon {
  width: 20%; }

.text-left {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1; }

.text {
  width: 78%; }

.icon img {
  background: none;
  width: 100%; }

.item h3 {
  margin: 0; }

.item p {
  margin: 0; }

.section-seven {
  background-color: #eb9512;
  color: white; }

.footer {
  width: 100%; }

.share-media {
  margin: 50px 0; }

.icons-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  margin: 0 auto; }

.icons-media a {
  width: 60px;
  height: 60px;
  padding: 15px;
  border-radius: 50%;
  border: 2px solid #144a5c;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s; }

.icons-media a:hover {
  border-color: #eb9512; }

.color-icon {
  fill: #144a5c;
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s; }

.icons-media a:hover .color-icon {
  fill: #eb9512; }

.section-appreciation {
  background-color: #144a5c; }

.appreciation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.team {
  width: 40%; }

.team-link {
  color: white;
  -webkit-transition: color 0.5s, text-decoration 0.5s;
  transition: color 0.5s, text-decoration 0.5s; }

.team-link:hover {
  color: #eb9512;
  text-decoration: underline; }

.greetings {
  width: 60%; }

.project-logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px; }

.text-medialab-footer {
  width: 100px;
  margin-right: 20px; }

.logo-medialab-footer {
  width: 280px; }

.logo-medialab-footer img {
  width: 100%; }

.uppercase {
  text-transform: uppercase; }

.btn-focus {
  background-color: white;
  color: #144a5c; }

.on {
  opacity: 1; }

.off {
  opacity: 0; }

/*# sourceMappingURL=index.css.map */
