.footer{
  width: 100%;
}

.share-media{
  margin: 80px 0;
}

.icons-media{
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 0 auto;
}

.icons-media a{
  width: 60px;
  height: 60px;
  padding: 15px;
  border-radius: 50%;
  border: 2px solid $color-footer;
  transition: border-color 0.5s;
}

.icons-media a:hover{
  border-color: $color-section-orange;
}

.color-icon{
  fill: $color-footer;
  transition: fill 0.5s;
}

.icons-media a:hover .color-icon{
  fill: $color-section-orange;
}

.appreciation{
  background-color: $color-footer;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.team{
  width: 40%;
}

.team-link{
  color: white;
  transition: opacity 0.5s;
}

.team-link:hover{
  opacity: 0.7;
}

.greetings{
  width: 60%;
}

.project-logo{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.text-medialab-footer{
  width: 100px;
  margin-right: 20px;
}

.logo-medialab-footer{
  width: 280px;
}

.logo-medialab-footer img{
  width: 100%;
}
