.header{
  width: 100%;
  height: 80px;
  background-color: #ebf2f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-header{
  position: fixed;
  top: 0;
  z-index: 0;
}

.nav{
  width: 600px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
