.section-six{
  background-color: $color-section-gray;
}

.wrap{
  display: flex;
  flex-wrap: wrap;
}

.wrap:last-child{
  border-bottom: 1px solid $color-footer;
}

.item{
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $color-footer;
}

.icon{
  width: 20%;
}

.text-left{
  order: -1;
}

.text{
  width: 78%;
}

.icon img{
  background: none;
  width: 100%;
}

.item h3{
  margin: 0;
}

.item p{
  margin: 0;
}
