.interactive-map-section{
  width: 800px;
  margin: 0 auto;
  position: relative;
}

.total-map{
  width: 100%;
  position: absolute;
  z-index: -1;
}

.total-map img{
  width: 100%;
}

.selection-map{
  position: absolute;
  display: flex;
  width: 300px;
  background-color: #405B60;
  flex-direction: column;
  color: white;
  font-family: sans-serif;
  padding: 20px;
  top: 20px;
}
