.format-cite{
  width: 600px;
  margin: 0 auto;
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 30px;
}

.rectangle-cite{
  height: 70%;
  width: 100%;
  position: absolute;
}

.orange{
  background-color: #f89e13;
}

.low-orange{
  background-color: #f2bc66;
}

.author-cite{
  margin: 0;
  position: absolute;
  bottom: -8px;
  right: 5px;
}
